# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.sample

# macOS-specific files
.DS_Store

# Obsidian
# to exclude Obsidian's settings (including plugin and hotkey configurations)
.obsidian/workspace.json
.obsidian/plugins/emoji-autocomplete/data.json

_cache/*
!_cache/cloudinary-manifest.json


# Local media files
src/content/img/uploads/**
/uploads/**
